/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/views
/storage/logs
/bootstrap/cache/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
.idea
.vscode
*.swp
*.swo
*.log
/public/css/app.css.old
/public/js/app.js.old
